* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f4;
  overflow-y: hidden;
}

header {
  background: #0099ff;
  height: 50px;
  padding: 10px 20px;
}

main {
  margin: 0 auto;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

main::-webkit-scrollbar {
  display: none;
}

main div {
  margin: 15px;
  background: #7bcaff;
  padding: 12px;
  flex: 1 1 200px;
  max-width: 300px;
}

main div:hover {
  cursor: pointer;
}

.waves {
  background: url(./img/wave.png) no-repeat bottom center;
  position: fixed;
  bottom: -50px;
  height: 200px;
  width: 100%;
}

/*Shrinking for mobile*/
@media (max-width: 700px) {
  main {
    max-width: 500px;
    display: block;
  }

  main div {
    margin: 20px auto;
    padding: 12px;
    text-align: center;
  }

}