* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f4;
  overflow-y: hidden;
}

header {
  background: #0099ff;
  height: 50px;
  padding: 10px 20px;
}

main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display: none;
}

a {
  display: block;
  padding: 12px;
}

a:hover {
  cursor: pointer;
}

.waves {
  background: url(./img/wave.png) no-repeat bottom center;
  position: fixed;
  bottom: -50px;
  height: 200px;
  width: 100%;
}

/*Shrinking for mobile*/
@media (max-width: 501px) {}